[google_oauth]
client_id     = "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com"
client_secret = "YOUR_GOOGLE_CLIENT_SECRET"
redirect_uri  = "http://localhost:8501"

cookie_key = "change_this_to_a_long_random_secret_string_2026"
